body
{
	width: 100%;
	background-image:  url('../img/fondo3.jpg');
	background-repeat: no-repeat;;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

}
.login
{
	max-width: 22.5em;
	padding: 1.3em;
	margin: 0 auto;
	background-color: rgba(003,003,069,.5);
	background: rgba(003,003,069,.5);/*rgba(119,119,123,0.5);*/
	color: rgba(119,119,123,0.2);
	border-radius: 0.6em;
}
.formu
{
	max-width: 35em;
	padding: 1.3em;
	margin: 0 auto;
	margin-top: -8em;
	background-color: rgba(119,119,125,0.9);
	background: rgba(119,119,125,0.9);
	border-radius: 0.8em;
}
#loguito
{
	color: yellow;
}
#avatar
{
	width: 12em;
	height: 12em;
	margin: auto;
	margin-bottom: 1em;
	display: block;

}
.container
{
	margin-top: 10%;
}
span a
{
	color: #ffff22;
	text-shadow: 4px 4px 8px #000;
}
nav
{
	background-color: #123456;
	height: 4em;
}
form h2 center
{
	color: #fff;
	padding: 0.3em 0;
	text-shadow: 4px 4px 8px #000;

}
#boton{
	margin-top: 0.8em;
	margin-bottom:  0.8em;
	background-color: #688F05;
	color: #fff;
	font-size: 1em;
	padding: 1em;
	width: 100%;
	border:none;
	border-radius: 0.3em;
}
.footer{
	clear: both;
}
